admin_username: azureuser
admin_pubkey: "${ADMIN_PUBKEY}"

resource_prefix: "${RESOURCE_PREFIX}"
rg_location: Sweden Central
domain_prefix: "${DOMAIN_PREFIX}"

vm_size: Standard_B2ls_v2
disk_type: Premium_LRS

rocketchat_regtoken: "${ROCKETCHAT_REGTOKEN}"

prometheus_retention_size: "2GB"
prometheus_retention_time: "2d"

grafana_password: "${GRAFANA_PASSWORD}"
